.table {
  /* border: 1px solid green; */
  margin: 20px;
}

.table .odd {
  background: lightGray;
}

.right {
  justify-content: end;
}

.placeholder {
  background-color: green;
  width: 700px;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
}
