name: Release
on:
  push:
    branches:
      - master
      - next

permissions:
  id-token: write
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: volta-cli/action@v4

      - name: Install dependencies
        run: npm --no-workspaces ci

      - name: Setup git user
        run: |
          git config user.name "github-actions[bot]"
          git config user.email ""

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx nx release -y
